#sk-notices {
    z-index: 9999
}
.popUp {
    background-color:#E8FDCE;
    border-bottom:2px solid #8BC541;
    font-family:Verdana,sans-serif;
    font-size:12px;
    text-align:center;
    color:#333;
    position:relative;
}
.popUp_content {
    padding: 6px 50px 6px 10px;
    margin: 0;
}
.popUp_link {
    text-decoration: underline;
    color: #0D394D;
    font-weight: bold;
}
#sk-cc-close {
    text-decoration: none;
    color: #0D394D;
    font-weight: bold;
    position: absolute;
    top: 6px;
    right: 10px;
}
.display-block {
    display: block;
}
.top123 {
    top: 123px;
}
.top230 {
    top: 230px;
}
.top160 {
    top: 160px;
}
.top45 {
    top: 45px;
}
.top20 {
    top: 20px;
}
.display-block {
    display: block;
}
.top10000 {
    position: absolute;
    top: -10000px;
    height: 0px;
    width: 0px;
}
.iframe1 {
    border: medium none;
}
.display-none {
    display: none;
}
.dialog {
    display: none;
    z-index: 1000;
    outline: 0px none;
    position: absolute;
}
.display-block {
    display: block;
}
.zindex1000 {
    z-index: 1000;
}
.topLeft {
    position: absolute;
    top: -1999px;
    left: -1988px;
}